:root {
  --primary-gradient: linear-gradient(#ff8660, #d5491d);
  --primary-color: rgb(255, 255, 255);
  --second-color: rgba(44, 42, 42, 0.486);
}
.modal {
  position: fixed;
  inset: 0;
  background: rgba(0, 0, 0, 0.6);
  z-index: 1000;
  display: flex;
  justify-content: center;
  align-items: center;
  opacity: 0;
  visibility: hidden;
}

.modal:target {
  opacity: 1;
  visibility: visible;
}

.login-form h2 {
  font-size: 20px;
  color: var(--primary-color);
}
.login-form {
  font-family: "Noto Sans", sans-serif;
  font-weight: 1000;
  background-color: rgba(32, 32, 32, 0.92);
  width: 400px;
  height: 450px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border-style: solid;
  border-radius: 20px;
  border-width: 1px;
  padding: 30px;
}
input {
  background: #111;
  color: #ffff;
  width: 320px;
  height: 50px;
  margin: 5px 0;
  border-radius: 5px;
  border-width: 1px;
}
.click {
  height: 50px;
  width: 320px;
  margin-top: 20px;
  background: var(--primary-gradient);
  border-width: 0;
  border-radius: 5px;
  color: white;
  font-weight: 600;
  font-size: 15px;
  cursor: pointer;
}
.click:hover {
  background: linear-gradient(#ff8660, #d5481d8a);
}
.login-form p {
  margin-top: 30px;
  color: #c5c5c5;
  cursor: pointer;
}
.login-form p:hover {
  color: #ff8660;
}
.login-form {
  position: relative;
}
.close {
  position: absolute;
  left: 3%;
  top: 3%;
}
.close {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 36px;
  height: 36px;
  border-radius: 50%;
  transition: 0.3s;
}
.close svg {
  font-size: 32px;
  fill: #ff8660;
}
.close:hover {
  background: rgba(255, 133, 96, 0.315);
}
